// Custom Variables
$primary-color: #2e82cc;
$secondary-color: #2e82cc;
$background-color: #f5ebcb;
$text-color: #333;
$border-color:#ccc;
$font-family-main: 'Roboto', Helvetica, Ariel, sans-serif;
$font-family: 'Helvetica', Helvetica, Ariel, sans-serif;


// Override Bootstrap themes

// Import sass
// @import "../node_modules/bootstrap/scss/bootstrap.scss";


body {
    background-color: #e6e6e6;
    color: $text-color;
    margin: 0;
    padding: 0;
}

// navbar
.navbar {
    background-color: $primary-color;
    padding: 25px 15px;
    font-family: $font-family-main;


    .navbar-brand{
        color: white;
        margin-right: 30px;
        font-size: 2rem;
        text-shadow: 0 13.36px 8.896px #2c482e, 0 -2px 1px rgb(12, 11, 11);
        letter-spacing: 0px;
        &:hover {
            color: darken(white, 20%);
        }
    }

    .nav-item{
        color: orange;
        margin-left: 10px;
   

        .nav-link{
            color: rgb(255, 255, 255);
            text-shadow: 0 13.36px 8.896px #252625, 0 -2px 1px rgb(4, 4, 4);
            &:hover{
                color: darken(white, 20%);
                text-decoration: none;
            }
        }
    }

    .navbar-toggler{
        border-color: rgba(255, 255, 255, 0.5);
    }
}


.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    color: $primary-color;
    text-align: center;
    margin-bottom: 30px;
    font-family: $font-family-main;
}

h5{
    color: grey;
    text-align: center;
    margin-bottom: 30px;
    font-family: $font-family-main;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;


    input[type='text']{
        padding: 10px;
        font-size: 16px;
        border: 2px solid $primary-color;
        border-radius: 4px;
        width: 300px;
        margin-right: 20px;
    }
    #search-btn{
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: $primary-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover{
            background-color: lighten($primary-color, 15%);
        }
    }
}


.news-article{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transfrom 0.2s;

    &:hover{
        box-shadow: 4px 8px rgba(0,0,0,0.1);
    }

    img{
        max-width: 100%;
        height: auto;
        display: block;
    }

    h5{
        margin: 0;
        padding: 10px;
        background-color: white;
        color: $primary-color;
        font-weight: 500;
        font-size: 20px;
        font-family: $font-family;

        a{
            color: inherit;
            text-decoration: none;

            &:hover{
                color: purple;
            }
        }
    }

    p{
        padding: 15px;
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
    }
}